<!DOCTYPE html>
<html lang="en" ng-app="myApp">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mock API</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.js"></script>
    <script src="app.js"></script>
    <script src="exampleController.js"></script>
</head>

<body>
    <div ng-controller="exampleController">
        <table border="1">
            <thead>
                <tr>
                    <th ng-repeat="(key, value) in data">{{ key }}</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td ng-repeat="(key, value) in data">{{ value }}</td>
                </tr>
            </tbody>
        </table>
    </div>

</body>

</html>